<div class="mt-4">
  <div>
    <a href="/me/stored/courses">Danh sách khoá học</a>
    <h3>Khoá học đã xoá</h3>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khoá học</th>
        <th scope="col">Trình độ</th>
        <th scope="col">Thời gian xoá</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
          <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}"
            >Khôi phục</a
          >
        </td>
        <td>
          <a
            href=""
            class="btn btn-link"
            data-bs-id="{{this._id}}"
            data-bs-toggle="modal"
            data-bs-target="#delete-course-modal"
            >Xoá vĩnh viễn</a
          >
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">Thùng rác trống.</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete course }}
<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">XOÁ KHOÁ HỌC</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Hành động này không thể khôi phục. Bạn vẫn muốn xoá khoá học này?</div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">
          Xoá vĩnh viễn
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Huỷ
        </button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-course-form"></form>
<form method="POST" name="restore-course-form"></form>

<script>
  var courseId;

  var deleteForm = document.forms['delete-course-form'];
  var restoreForm = document.forms['restore-course-form'];
  var restoreBtn = $('.btn-restore');

  const exampleModal = document.getElementById('delete-course-modal');
  exampleModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget;
    courseId = button.getAttribute('data-bs-id');
  });
  var btnDeleteCourse = document.getElementById('btn-delete-course');

  btnDeleteCourse.onclick = function () {
    deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
    deleteForm.submit();
  };

  restoreBtn.click(function (e) {
    e.preventDefault();
    var courseId = $(this).data('id');

    restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
    restoreForm.submit();
  });
</script>
